{
    "presets": [
        [
            "env",
            {
                "loose": true,
                "modules": false
            }
        ],
        "react"
    ],
    "plugins": [
        "syntax-dynamic-import",
        "transform-class-properties",
        [
            "transform-runtime",
            {
                "helpers": false,
                "polyfill": false,
                "regenerator": true
            }
        ]
    ]
}